<template>
  <div class="game">
    <div class="players">
      <Player
        v-for="(player, index) in players"
        :key="index"
        :name="player.name"
        :hp="player.hp"
        :max-hp="player.maxHp"
        :skills-config="player.skillsConfig"
        :is-alive="player.isAlive"
        :identity="player.identity"
        :seat="player.seat"
      />
    </div>
  </div>
</template>

<script lang="ts" setup>
  import Player from '@components/player.vue';
  import game from '@store/game';
  import { storeToRefs } from 'pinia';
  // import { onUpdated, onMounted } from 'vue';
  // import { onBeforeRouteLeave } from 'vue-router';
  // import useSocket from '@store/socket';

  // const players = [$(usePlayer()), $(usePlayer())];
  // const { players } = client();
  const { players } = storeToRefs(game());

  // onUpdated(() => {
  //   console.log('game已更新');
  // });
  // onMounted(async () => {
  //   console.log('Game Mounted');
  // });
  // onBeforeRouteLeave(to => {
  //   socket.disconnect();
  // });
</script>

<style scoped lang="scss">
  .game {
    @include full;
    background-image: url('/bg/bg.jpg');
    @include bg;
    .players {
      @include cc(500px, 344px);
      align-content: space-around;
      justify-content: space-around;
    }
  }
</style>
