<template>
  <div id="home">
    <div class="mode-wrapper">
      <div v-for="mode in modeList" :key="mode" class="mode-item" :class="mode" @click="go(mode)" />
    </div>
  </div>
</template>

<script lang="ts" setup>
  import { onMounted } from 'vue';
  import { useRouter } from 'vue-router';

  const { clientName = '电脑' } = defineProps<{
    clientName: str;
  }>();
  if (/Android/.test(navigator.userAgent)) {
    sessionStorage.setItem('clientName', '手机');
  } else {
    sessionStorage.setItem('clientName', clientName);
  }
  const modeList: mode[] = ['identity', 'guozhan', 'xx', 'xx', 'xx'];
  const router = useRouter();
  onMounted(async () => {
    console.log('Mounted');
  });
  const go = (mode: mode) => {
    router.push({
      name: 'room',
      params: {
        mode,
      },
    });
  };
</script>

<style lang="scss" scoped>
  #home {
    @include full;

    .mode-wrapper {
      @include cc(528px, 266px);

      .mode-item {
        @include block;

        &.identity {
          width: 292px;
          height: 142px;
        }

        &.guozhan {
          width: 212px;
          height: 142px;
        }

        &.xx {
          width: 160px;
          height: 100px;
        }
      }
    }
  }
</style>
