<template>
  <div id="room">
    <div class="roomPlayers">
      <div v-for="player in roomPlayers" :key="player.clientName" class="roomPlayer">
        <div class="name">
          {{ player.clientName }}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
  import useSocket from '@store/socket';
  import { findIndex } from 'lodash/fp';
  import { useRouter, onBeforeRouteLeave } from 'vue-router';
  import { reactive } from 'vue';

  const { clientName, socket, connect } = $(useSocket());

  const { mode = 'identity' } = defineProps<{
    mode: mode;
  }>();

  const roomPlayers: Record<string, any>[] = reactive([]);
  const router = useRouter();
  connect(mode);
  socket.on('join-room', (clientName: str) => {
    console.log(`${clientName}已加入房间`);
    roomPlayers.push({ clientName });
  });
  socket.once('query-room', pl => {
    console.log(`${clientName}已加入房间`);
    roomPlayers.splice(0, roomPlayers.length, ...pl);
  });
  socket.on('leave-room', (clientName: str) => {
    console.log(`${clientName}已退出房间`);
    const index = findIndex(roomPlayer => roomPlayer.clientName === clientName, roomPlayers);
    roomPlayers.splice(index, 1);
  });
  socket.once('game-start', () => {
    setTimeout(() => {
      router.push('/game');
    }, 1000);
  });
  onBeforeRouteLeave(to => {
    if (to.name === 'home') {
      socket.disconnect();
    }
  });
</script>

<style lang="scss" scoped>
  #room {
    width: 100%;
    height: 100%;

    .roomPlayers {
      @include cc(500px, 344px);
      align-content: center;
      justify-content: space-around;
      .roomPlayer {
        position: relative;
        width: 110px;
        height: 160px;
        @include block;
        .name {
          position: absolute;
          top: 106px;
          width: 100%;
          height: 28px;
          border-top: 1px solid $border;
          border-bottom: 1px solid $border;
          background: $bg;
          color: $color;
          font-size: 16px;
          line-height: 28px;
          text-align: center;
        }
      }
    }
  }
</style>
