$bg: #2e0814;
// $bg: yellow;
$player-bg: #391010;
$border: #656730;
$color: #a58a62;
@mixin cc($width, $height) {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: $width;
  height: $height;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  transform: translate(-50%, -50%);
}
@mixin full {
  width: 100%;
  height: 100%;
}
@mixin block {
  border: 2px solid $border;
  background-color: $player-bg;
  border-radius: 8px;
  box-shadow: -2px -2px 14px 0 rgba(0, 0, 0, 0.5);
}
@mixin bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
