<template>
  <div class="player" :class="status" :style="{ backgroundImage: `url(/skin/${name}.png)` }" />
</template>
<script lang="ts" setup>
  import { tr } from '@config/tr';
  import { computed } from 'vue';

  const { name, hp, maxHp, skillsConfig, isAlive, identity, seat } = defineProps<{
    name: str;
    hp: num;
    maxHp: num;
    skillsConfig: str[];
    isAlive: bool;
    identity: identity;
    seat: num;
  }>();

  // 玩家的各种状态
  const status = computed(() => ({
    die: !isAlive,
  }));
</script>
<style scoped lang="scss">
  .player {
    position: relative;
    width: 100px;
    height: 136px;
    background-position: center center;
    background-size: cover;
    color: $color;
    .name {
      position: absolute;
      top: 106px;
      width: 100%;
      height: 28px;
      border-top: 1px solid $border;
      border-bottom: 1px solid $border;
      background: $bg;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
    }
    &.die {
      filter: grayscale(1);
    }
  }
</style>
