<template>
  <n-message-provider>
    <div id="app">
      <router-view v-slot="{ Component }">
        <transition
          name="custom-classes"
          mode="out-in"
          enter-active-class="animate__animated animate__zoomInLeft"
          leave-active-class="animate__animated animate__fadeOut"
        >
          <component :is="Component" />
        </transition>
      </router-view>
    </div>
  </n-message-provider>
</template>

<script lang="ts" setup>
  import { onMounted } from 'vue';

  onMounted(() => {
    console.log('App mounted.');
  });
</script>

<style lang="scss">
  #app {
    width: 100%;
    height: 100%;
    background: $bg;
  }
  .animate__animated.animate__fadeOut {
    --animate-duration: 0.2s;
  }
</style>
